@import 'variables';

$foreground-color: #fff;
$backgournd-color: $fitpp-blue;

$point-size: 16px;
$line-thickness: 4px;

.program {
  position: relative; // because of absolute ::before
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;

  &::before {
    position: absolute;
    content: '';
    width: $line-thickness;
    top: -20px;
    bottom: -20px;
    left: $point-size/2-$line-thickness/2;
    background: linear-gradient(to bottom, transparent 0, rgba($foreground-color, .4) 40px, rgba($foreground-color, .4) calc(100% - 40px), transparent 100%);
  }
}

.program__item {
  position: relative; // because of absolute ::before
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 35px;
  max-width: 600px;

  &::before {
    content: '';
    position: absolute;
    height: $point-size;
    width: $point-size;
    border-radius: $point-size/2;
    top: 7px;
    box-sizing: border-box;
    left: -40px;
    background-color: $fitpp-blue;
    border: 2px solid $foreground-color;
  }
}

.program__item--highlight::before {
  background-color: #fff;
}

.program__heading {
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 26px;
  text-align: left;
}

.program__heading--parallel {
  margin-top: 35px;
}

.program__info {
  font-size: 16px;
  //margin-bottom: 30px;
  margin-top: 15px;
  font-weight: 300;
  text-align: justify;
}

.program__time,
.program__speakers,
.program__location {
  display: block;
  font-size: 15px;
  position: relative; // because of absolute ::before
  padding-left: 20px;
  margin-right: 20px;
  font-weight: 300;
  margin-bottom: 5px;

  &::before {
    font-family: fontello, serif;
    font-style: normal;
    font-size: 12px;
    position: absolute;
    top: 2px;
    width: 15px;
    text-align: center;
    left: 0;
  }
}

.program__time::before {
  content: '\e801';
}

.program__speakers::before {
  content: '\e800';
}

.program__location::before {
  content: '\f031';
}
