.heading {
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 42px;
  font-family: 'Roboto', sans-serif;
}

.heading--big {
  font-size: 140px;
  font-weight: 900;
  letter-spacing: -2px;

  @media all and (max-width: 500px) {
    font-size: 30vw;
  }
}

.heading--small {
  font-size: 24px;
}

.heading--subnote {
  font-weight: 200;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

.heading--push-up {
  margin-top: 50px;
}

.heading--push-down {
  margin-bottom: 30px;
}
