@import 'variables';

@keyframes pulse2 {
  to {
    transform: scale(1.05);
  }
}

.hell {
  display: inline-block;
}

.hell__link {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: $text-color;
  display: block;

  &:hover {
    animation-name: pulse2;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .is--hell & {
    color: #fff;
  }
}

.hell__space--on::before {
  content: ' ';

  .hell:hover & {
    content: '';
  }
}

.hell__space--off::before {
  content: '';

  .hell:hover & {
    content: ' ';
  }
}

.hell__fire {
  display: none;

  @media (min-width: 1130px) {
    .is--hell & {
      display: inline-block;
    }
  }
}
